body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  section.hero {
    background-image: url('../hero.webp');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
  }
  
  section.services {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
  }
  
  .counter {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
  }
  
  footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  